.bash_history
.rstudio/
.idea/
.Rproj.user
.Rhistory
.RData
_bookdown_files
.DS_Store
.Rapp.history
_book
_main.*
*.html
*.pdf
*.utf8.md
!ga.html
libs/


air.2x2.250.mon.anom.comb.nc
landsat.tif

/.quarto/
docs
*.zip
ipynb/data
